In [1]:
import pandas as pd
import seaborn as sns
iris = sns.load_dataset('iris')

### 1.	Basic Exploration:
Display the first 5 rows of the dataset.
Display the summary statistics of the dataset using describe().

In [4]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## 2.	Mean, Median, and Mode:
Calculate the mean of the 'sepal_length'.
Find the median of 'sepal_width'.
Determine the mode of 'species'.

In [8]:
import pandas as pd
import seaborn as sns

# Load the Iris dataset
iris = sns.load_dataset('iris')

# Calculate the mean of 'sepal_length'
sepal_length_mean = iris['sepal_length'].mean()

# Find the median of 'sepal_width'
sepal_width_median = iris['sepal_width'].median()

# Determine the mode of 'species'
species_mode = iris['species'].mode()[0]

print("Mean sepal length:", sepal_length_mean)
print("Median sepal width:", sepal_width_median)
print("Mode of species:", species_mode)

Mean sepal length: 5.843333333333334
Median sepal width: 3.0
Mode of species: setosa

## 3.	Variance and Standard Deviation:
Compute the variance of 'petal_length'.
Calculate the standard deviation of 'petal_width'.

In [9]:
import pandas as pd
import seaborn as sns

# Load the Iris dataset
iris = sns.load_dataset('iris')

# Compute the variance of 'petal_length'
petal_length_variance = iris['petal_length'].var()

# Calculate the standard deviation of 'petal_width'
petal_width_std_dev = iris['petal_width'].std()

print("Variance of petal length:", petal_length_variance)
print("Standard deviation of petal width:", petal_width_std_dev)

Variance of petal length: 3.1162778523489942
Standard deviation of petal width: 0.7622376689603465

## 4.	Skewness and Kurtosis:
Find the skewness of the entire dataset.
Determine the kurtosis of the 'sepal_length'.

In [10]:
import pandas as pd
import seaborn as sns

# Load the Iris dataset
iris = sns.load_dataset('iris')

# Calculate skewness of the entire dataset
dataset_skewness = iris.skew().mean()

# Determine kurtosis of the 'sepal_length' column
sepal_length_kurtosis = iris['sepal_length'].kurtosis()

print("Skewness of the entire dataset:", dataset_skewness)
print("Kurtosis of sepal length:", sepal_length_kurtosis)

Skewness of the entire dataset: 0.06400642348764463
Kurtosis of sepal length: -0.5520640413156395

C:\Users\iwaye\AppData\Local\Temp\ipykernel_18184\1436878422.py:8: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset_skewness = iris.skew().mean()

## 5.	Quantiles:
Calculate the 25th, 50th, and 75th percentiles of 'petal_length'.

In [11]:
import pandas as pd
import seaborn as sns

# Load the Iris dataset
iris = sns.load_dataset('iris')

# Calculate the 25th, 50th, and 75th percentiles of 'petal_length'
petal_length_quantiles = iris['petal_length'].quantile([0.25, 0.5, 0.75])

print("25th percentile (Q1):", petal_length_quantiles[0.25])
print("50th percentile (median, Q2):", petal_length_quantiles[0.5])
print("75th percentile (Q3):", petal_length_quantiles[0.75])

25th percentile (Q1): 1.6
50th percentile (median, Q2): 4.35
75th percentile (Q3): 5.1